@model tpLabo4_usarEste_.Models.Celular

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Celular</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" asp-controller="Celular" method="post"  >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="modelo" class="control-label"></label>
                <input asp-for="modelo" class="form-control" />
                <span asp-validation-for="modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <img src="" id="imagen" style="max-width:50px" />
                <label asp-for="foto" class="control-label"></label>
                <input name="seleccionImg" id="Foto" type="file" accept="image/jpeg" />
                <label class="control-label">Seleccione una imagen</label>

            </div>
            <div class="form-group">
                <label asp-for="marcaId" class="control-label"></label>
                <select asp-for="marcaId" class ="form-control" asp-items="ViewBag.marcaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="sistemaOperativoId" class="control-label"></label>
                <select asp-for="sistemaOperativoId" class ="form-control" asp-items="ViewBag.sistemaOperativoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
